.group-input {
    width: 100%;
    display: flex;
    justify-content: space-around;
}


.group-input input[type=text] {
    flex :0  0 60%;
}
.group-input button {
    flex :0  0 20%;
}

.todo-item {
    background-color: #fff;
    padding: 10px 15px;
    margin: 10px 0;
    border-radius: 5px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.3s ease;
  }
  
  .todo-item:hover {
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.15);
  }
  
  .todo-item input[type="checkbox"] {
    margin-right: 10px;
  }
  
  .todo-item button {
    margin-left: 10px;
  }
  
  .todo-form {
    background-color: #fff;
    padding: 15px 20px;
    margin: 20px 0;
    border-radius: 5px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.3s ease;
  }
  
  .todo-form:hover {
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.15);
  }
  
 