.todo-item  {
    display: flex;
    padding: 10px;
    justify-content: space-between;
    align-items: center;

    background-color: #fff;
    padding: 10px 15px;
    margin: 10px 0;
    border-radius: 5px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.3s ease;
}

.todo-item:hover {
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.15);
  }

.todo-item input[type="checkbox"] {
    flex :0  0 5%;
}

.todo-item span {
    flex: 0 0 45%;
}

.todo-item input[type="text"] {
    flex: 0 0 30%;
}


.todo-item button {
    flex: 0 0 15%;
}