.todo{
    width: 450px;
}

input[type="text"] {
    padding: 10px;
    margin-right: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
button {
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    background-color: #007bff;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }

button:disabled,
button:disabled:hover {
    background-color: #cccccc; 
    cursor: not-allowed; 
}

button:hover {
    background-color: #0056b3
}